<launch>
	<!-- When calling the launch file you can provide the .urdf file that you want to look at as a parameter.
	Example: roslaunch bear_manipulator_description inspect_urdf.launch model:='$(find bear_manipulator_description)/urdf/bear_manipulator_and_gripper.urdf' -->
	
	<arg name="model" default="$(find bear_manipulator_description)/urdf/bear_manipulator_and_gripper.urdf.xacro"/>
	<arg name="rvizconfig" default="$(find bear_manipulator_description)/rviz/urdf.rviz" />
	
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>

